*{

    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #2f363e;
}
#time{
    display: flex;
    gap: 40px;
    color: #fff;
}

#time .circle{
    
    position: relative;
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;

}

#time .circle svg{
    position: relative;
    height: 150px;
    width: 150px;
}
#time .circle svg circle{
    width: 50%;
    height: 50%;
    fill: transparent;
    stroke: #191919;
    stroke-width: 4;
    transform: translate(5px,5px);
}


#time div{
   
    position: absolute;
    text-align: center;
    font-weight: 500;
    font-size: 1rem;
}
#time .app{
    position: relative;
    font:1em;
    transform: translateX(-50px);

}